/* Home.css */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto; /* Center the home container */
}

header {
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  background-color: #0080ff;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.feed-container {
  width: 100%;
}